/*
 * Copyright (c) 2014 Juan Carlos Ballesteros Hermida
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except
 * in compliance with the License. You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the License
 * is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express
 * or implied. See the License for the specific language governing permissions and limitations under
 * the License.
 */

body{
    margin-bottom:100px;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #222;
  color: #fff;
}



.jumbotron {
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.separador{
	margin-bottom: 20px;	
}

.hide{
	display:none;	
}

.block{
	display:block;	
}



#capaCalendario{
	min-height:600px;	
}



.margin1010{
	margin-bottom:10px;
	margin-top:10px;
}

.right{
	text-align:right;
}